
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate

./*.tfstate
.terraform/
*.tfstate
.terraform.lock.hcl
terraform.tfstate.backup
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform

